<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=apac.db;Version=3;Foreign Keys=True" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="AdminDefaultPassword" value="APAC@Admin2024" />
    <add key="LogRetentionDays" value="30" />
    <add key="MaxLogFolderSizeGB" value="10" />
    <add key="LogBasePath" value="Logs" />
    <add key="KioskExitMinutes" value="5" />
  </appSettings>
</configuration>
