<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="APAC - Ambiente de Proteção e Acesso Controlado" />
    <add key="DefaultHomeUrl" value="https://www.google.com" />
    <add key="AdminPasswordHash" value="" />
    <add key="AutoStart" value="false" />
    <add key="LogoPath" value="Resources\apac_logo.png" />
    <add key="WelcomeMessage" value="Bem-vindo ao Portal de Acesso Controlado" />
    <add key="EmergencyKioskDurationMinutes" value="15" />
  </appSettings>
</configuration>
